.container {
  margin: 50px 0;
}

.subtitle {
  padding-top: 0.5em;
  padding-bottom: 1em;
  text-align: center;
}

.card {
 padding: 0 2% !important;
 margin: 0 0.5em !important;
}

.lastUpdate {
  padding-top: 4%;
  text-align: center;
  color: rgb(150, 150, 150) !important
}

.infected {
  border-bottom: 10px solid rgba(251, 255, 0, 0.9);
}

.new_infected {
  color: green;
}

.recovered {
  border-bottom: 10px solid rgba(0, 255, 0, 0.9);
}

.deaths {
  border-bottom: 10px solid rgba(255, 0, 0, 0.9);
}
